<!doctype html>
<html class="no-js" lang="zxx">
    {% load static %}
<head>
    <meta charset="utf-8">
    <meta http-equiv="x-ua-compatible" content="ie=edge">
    <title>Camera-Register</title>
    <meta name="description" content="">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="manifest" href="site.webmanifest">
    <link rel="shortcut icon" type="image/x-icon" href="{% static 'main/img/favicon.ico' %}">

	<!-- CSS here -->
	<link rel="stylesheet" href="{% static 'main/css/bootstrap.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/owl.carousel.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/slicknav.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/flaticon.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/progressbar_barfiller.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/gijgo.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/animate.min.css' %}">
    <link rel="stylesheet" href="{% static 'main/css/animated-headline.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/magnific-popup.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/fontawesome-all.min.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/themify-icons.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/slick.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/nice-select.css' %}">
	<link rel="stylesheet" href="{% static 'main/css/style.css' %}">
</head>
<body>
    


<!-- Register -->

<main class="login-body" data-vide-bg="{% static 'main/img/20.jpg' %}">
    <!-- Login Admin -->
    <form class="form-default" method="POST" enctype="multipart/form-data">
        {% csrf_token %} 
        <div class="login-form">
           
            <h2>Registration Here</h2>

            <div class="form-input">
                <label for="name">Full name</label>
                <input  type="text" name="name" placeholder="Full name">
            </div>
            <div class="form-input">
                <label for="name">Email Address</label>
                <input type="email" name="email" placeholder="Email Address">
            </div>
            <div class="form-input">
                <label for="name">Password</label>
                <input type="password" pattern="(?=.*\d)(?=.*[a-z])(?=.*[A-Z]).{8,}" name="pass" required placeholder="Password ex:- (Examp123)" class="pass">
            </div>
            <div class="form-input">
                <label for="name">Phone No</label>
                <input type="text" name="phone" pattern="[0-9]{10}" required placeholder="Phone" class="name-inp">
            </div>
            <div class="form-input">
                <label for="name">Image</label>
                <input type="file" name="file" required placeholder="Upload your image" class="file">
            </div>
            <div class="form-input pt-30">
                <input type="submit" name="submit" value="Registration">
            </div>
            <!-- Forget Password -->
            <a href="#" class="registration">login</a>
        </div>
    </form>
    <!-- /end login form -->
</main>


    <script src="{% static 'main/js/vendor/modernizr-3.5.0.min.js' %}"></script>
    <!-- Jquery, Popper, Bootstrap -->
    <script src="{% static 'main/js/vendor/jquery-1.12.4.min.js' %}"></script>
    <script src="{% static 'main/js/popper.min.js' %}"></script>
    <script src="{% static 'main/js/bootstrap.min.js' %}"></script>
    <!-- Jquery Mobile Menu -->
    <script src="{% static 'main/js/jquery.slicknav.min.js' %}"></script>

    <!-- Video bg -->
    <script src="{% static 'main/js/jquery.vide.js' %}"></script>

    <!-- Jquery Slick , Owl-Carousel Plugins -->
    <script src="{% static 'main/js/owl.carousel.min.js' %}"></script>
    <script src="{% static 'main/js/slick.min.js' %}"></script>
    <!-- One Page, Animated-HeadLin -->
    <script src="{% static 'main/js/wow.min.js' %}"></script>
    <script src="{% static 'main/js/animated.headline.js' %}"></script>
    <script src="{% static 'main/js/jquery.magnific-popup.js' %}"></script>

    <!-- Date Picker -->
    <script src="{% static 'main/js/gijgo.min.js' %}"></script>
    <!-- Nice-select, sticky -->
    <script src="{% static 'main/js/jquery.nice-select.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.sticky.js' %}"></script>
    <!-- Progress -->
    <script src="{% static 'main/js/jquery.barfiller.js' %}"></script>
    
    <!-- counter , waypoint,Hover Direction -->
    <script src="{% static 'main/js/jquery.counterup.min.js' %}"></script>
    <script src="{% static 'main/js/waypoints.min.js' %}"></script>
    <script src="{% static 'main/js/jquery.countdown.min.js' %}"></script>
    <script src="{% static 'main/js/hover-direction-snake.min.js' %}"></script>

    <!-- contact js -->
    <script src="{% static 'main/js/contact.js' %}"></script>
    <script src="{% static 'main/js/jquery.form.js' %}"></script>
    <script src="{% static 'main/js/jquery.validate.min.js' %}"></script>
    <script src="{% static 'main/js/mail-script.js' %}"></script>
    <script src="{% static 'main/js/jquery.ajaxchimp.min.js' %}"></script>
    
    <!-- Jquery Plugins, main Jquery -->	
    <script src="{% static 'main/js/plugins.js' %}"></script>
    <script src="{% static 'main/js/main.js' %}"></script>
    
    </body>
</html>