<!DOCTYPE html>
<html lang="en">
    {% load static %}

<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width,initial-scale=1">
    <title>Drop-Store--A secure backup system using multi cloud & fog computing</title>
    <!-- Favicon icon -->
    <link rel="icon" type="image/png" sizes="16x16" href="{% static 'droplet/images/cloud.png' %}">
    <!-- Custom Stylesheet -->
    <link href="{% static 'dropstore/css/style.css' %}" rel="stylesheet">

</head>

<body>

    <!--*******************
        Preloader start
    ********************-->
    <div id="preloader">
        <div class="loader">
            <svg class="circular" viewBox="25 25 50 50">
                <circle class="path" cx="50" cy="50" r="20" fill="none" stroke-width="3" stroke-miterlimit="10" />
            </svg>
        </div>
    </div>
    <!--*******************
        Preloader end
    ********************-->

    
    <!--**********************************
        Main wrapper start
    ***********************************-->
    <div id="main-wrapper">

        <!--**********************************
            Nav header start
        ***********************************-->
        <div class="nav-header">
            <div class="brand-logo">
                <a href="{% url 'dropstore_index' %}">
                    <b class="logo-abbr"><img src="images/logo.png" alt=""> </b>
                    <span class="logo-compact"><img src="{% static 'dropstore/images/logo-compact.png' %}" alt=""></span>
                    <span class="brand-title" style="color: white;">
                        <i class="fa fa-folder" aria-hidden="true"></i></i>&nbsp;&nbsp;DROPSTORE
                    </span>
                </a>
            </div>
        </div>
        <!--**********************************
            Nav header end
        ***********************************-->

        <!--**********************************
            Header start
        ***********************************-->
        <div class="header">    
            <div class="header-content clearfix">
                
                <div class="nav-control">
                    <div class="hamburger">
                        <span class="toggle-icon"><i class="icon-menu"></i></span>
                    </div>
                </div>
                <div class="header-left">
                    <div class="input-group icons">
                        <div class="input-group-prepend">
                            <span class="input-group-text bg-transparent border-0 pr-2 pr-sm-3" id="basic-addon1"><i class="mdi mdi-magnify"></i></span>
                        </div>
                        <input type="search" class="form-control" placeholder="Search Dashboard" aria-label="Search Dashboard">
                        <div class="drop-down animated flipInX d-md-none">
                            <form action="#">
                                <input type="text" class="form-control" placeholder="Search">
                            </form>
                        </div>
                    </div>
                </div>
                <div class="header-right">
                    <ul class="clearfix">
                        
                        
                        
                        <li class="icons dropdown">
                            <div class="user-img c-pointer position-relative"   data-toggle="dropdown">
                                <span class="activity active"></span>
                                <img src="{% static 'dropstore/images/user/1.png '%}" height="40" width="40" alt="">
                            </div>
                            <div class="drop-down dropdown-profile animated fadeIn dropdown-menu">
                                <div class="dropdown-content-body">
                                    <ul>
                                        
                                        </li>
                                        <li><a href="{% url 'home' %}"><i class="icon-key"></i> <span>Logout</span></a></li>
                                    </ul>
                                </div>
                            </div>
                        </li>
                    </ul>
                </div>
            </div>
        </div>
        <!--**********************************
            Header end ti-comment-alt
        ***********************************-->

        <!--**********************************
            Sidebar start
        ***********************************-->
        <div class="nk-sidebar">           
            <div class="nk-nav-scroll">
                <ul class="metismenu" id="menu">
                    <!-- <li class="nav-label">Dashboard</li> -->
                    
                    
                    
                    
                    
                    
                    <li>
                        <a class="" href="{% url 'dropstore_index' %}" aria-expanded="false">
                            <i class="icon-grid menu-icon"></i><span class="nav-text">Dashboard</span>
                        </a>
                        
                    </li>
                    <li>
                        <a class="" href="{% url 'dropstore_edge_nodes' %}" aria-expanded="false">
                            <i class="fa fa-podcast menu-icon"></i><span class="nav-text">Edge Nodes</span>
                        </a>
                        
                    </li>
                    <li>
                        <a class="" href="{% url 'dropstore_droplet_fog_layer' %}" aria-expanded="false">
                            <i class="icon-layers menu-icon"></i><span class="nav-text">Droplet Fog Layer</span>
                        </a>
                        
                    </li>
                    
                </ul>
            </div>
        </div>
        <!--**********************************
            Sidebar end
        ***********************************-->

        <!--**********************************
            Content body start
        ***********************************-->
        <div class="content-body">

            <div class="row page-titles mx-0">
                <div class="col p-md-0">
                    <ol class="breadcrumb">
                        <li class="breadcrumb-item"><a href="javascript:void(0)">Dashboard</a></li>
                        <li class="breadcrumb-item active"><a href="javascript:void(0)">Home</a></li>
                    </ol>
                </div>
            </div>
            <!-- row -->

            <div class="container-fluid">
                <div class="row justify-content-center">
                    
                    <!-- /# column -->
                    
                    
                    <div class="col-lg-10">
                        <div class="card">
                            <div class="card-body">
                                <h4 class="card-title">Edge Nodes</h4>
                                <div class="table-responsive">
                                    <table class="table header-border table-hover verticle-middle">
                                        <thead>
                                            <tr>
                                                <th scope="col">Node ID</th>
                                                <th scope="col">Node Name</th>
                                                <th scope="col">Node  Region</th>
                                                <th scope="col">Node  Location</th>
                                                <th scope="col">Node Storage</th>
                                                
                                            </tr>
                                        </thead>
                                        <tbody>
                                            <tr>
                                                <th>1</th>
                                                <td>server 1</td>
                                                <td>Asia</td>
                                                <td>
                                                    India(mumbai) 
                                                </td>
                                                <td>{{a}} Mb
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <th>2</th>
                                                <td>server 2</td>
                                                <td>Noth America</td>
                                                <td>
                                                    Ohio 
                                                </td>
                                                <td>{{b}} Mb
                                                </td>
                                                
                                            </tr>
                                            <tr>
                                                <th>3</th>
                                                <td>server 3</td>
                                                <td>Europe</td>
                                                <td>
                                                    Luxembourg
 
                                                </td>
                                                <td>{{c}} Mb
                                                </td>
                                                
                                            </tr>
                                        </tbody>
                                    </table>
                                </div>
                            </div>
                        </div>
                    </div>
                    
                </div>
            </div>
            <!-- #/ container -->
        </div>
        <!--**********************************
            Content body end
        ***********************************-->
        
        
        <!--**********************************
            Footer start
        ***********************************-->
        <footer class="row  footer justify-content-center">
        <div class="d-sm-flex justify-content-center justify-content-sm-between">
            <p>Copyright © 2022. All rights reserved.<br><br>
                Designed and Developed By: <a style="color:orange;" href="https://www.codebook.in" target="_blank">Codebook</a>
             </p>
          
        </div>
      </footer>>
        <!--**********************************
            Footer end
        ***********************************-->
    </div>
    <!--**********************************
        Main wrapper end
    ***********************************-->

    <!--**********************************
        Scripts
    ***********************************-->
    <script src="{% static 'droplet/plugins/common/common.min.js' %}"></script>
    <script src="{% static 'dropstore/js/custom.min.js' %}"></script>
    <script src="{% static 'dropstore/js/settings.js' %}"></script>
    <script src="{% static 'dropstore/js/gleek.js' %}"></script>
    <script src="{% static 'dropstore/js/styleSwitcher.js' %}"></script>

</body>

</html>